body.hidden{
    overflow-y: hidden;
}

#first-sec{
    padding: 80px 1rem 7rem;
    background-color: hsl(228, 9%, 10%);
    color: white;
}

#first-sec div:first-child{
    margin-bottom: 5rem;
}

#first-sec div:first-child h1{ 
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 20px;
}
#first-sec div:first-child p{
    color: hsl(227deg 13% 73%);
    line-height: 1.3;
    font-size: 1.15rem;
    margin-bottom: 20px;
}

#first-sec div:first-child button{
    margin-top: 20px;
    background-color: hsl(222deg 100% 61%);
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 700;
    padding: .8rem 2rem;
    position: relative;
    overflow: hidden;
}
#first-sec div:first-child button::after{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, rgb(167, 155, 155) , transparent);
    top: 0;
    bottom: 0;
    left: -90%;
    width: 100%;
}
@keyframes gradient-hover {
    25%{
        left: -45%;
    }
    
    50%{
        left: -1%;
    }

    75%{
        left: 45%;
    }
    100%{
        left: 100%;
    }
}
#first-sec div:first-child button:hover::after{
    animation: gradient-hover 500ms ease-in 20ms;
}



@media (min-width:575px) and (max-width: 769px) {

    #first-sec div:first-child h1{ 
        font-size: 2.5rem;
    }
    #first-sec div:first-child p{
        font-size: 1.3rem;
    } 
}

@media (min-width:770px) and (max-width: 990px) {
    #first-sec div:first-child h1{ 
        font-size: 3.1rem;
    }
    #first-sec div:first-child p{
        font-size: 1.2rem;
    }

    #homepage-main img[data-img="hero-banner"] {
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 990px){
    #first-sec{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 auto;
        display: flex;
    }  
    
    #first-sec div:first-child p{
        font-size: 1.42rem;
    }
}


@media (min-width: 990px) and (max-width:1199px){  
    #first-sec{
        gap: 2rem;
        margin: 0 auto;
        width: 960px;
    }
    
    #first-sec > div:nth-child(1){
        flex: 1 1 550px;
    }

    #first-sec div:first-child h1{
        font-size: 3rem;
    }
}


@media(min-width:1200px){
    #first-sec{
        width: 100%;
        max-width: 1210px;
        gap: 4rem;
    }

    #first-sec div:first-child h1{
        font-size: 4rem;
    }

    #first-sec > div:nth-child(1){
        flex: 1 1 750px;
    }

    #first-sec > div:nth-child(2){
        width: 50rem;
    }
}