#mobile-apps{
    background-color: hsl(228deg 9% 10%);
    padding-bottom: 0;
}

#mobile-apps ul li > p{
    font-size: 1rem;
}
#mobile-apps li p{
    line-height: 1.5;
}

#mobile-apps #appstore{
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    gap: .8rem;
}

#scan-qrcode img{
    max-width: 100%;
}
#scan-qrcode{
    position: relative;
    margin-top: 3rem;
}
#scan-qrcode button{
    position: absolute;
    border-radius: 2rem;
    border: 2px solid white;
    padding: .5rem 1rem;
    font-weight: 700;
    top: 10%;
}